<!doctype html>
{{ if .AMP }}<html ⚡>{{ else }}<html lang="en">{{ end }}
<head>
        {{ template "head" . }}
</head>
<body>
        {{ template "body-amp" . }}
        <header>
                {{ template "header-name" . }}
                {{ .Header }}
        </header>
        <main>
                {{ .Main }}
        </main>
        {{ template "footer" . }}
</body>
</html>
