<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script nonce="deadbeef2">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TLVN7D6");
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .URLCanonical }}" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="alternate" type="application/atom+xml" title="seankhliao.com" href="https://seankhliao.com/feed.atom" />

    <meta name="theme-color" content="#000000" />
    <meta name="description" content="{{ .Description }}" />

    <link rel="icon" type="image/png" sizes="512x512" href="https://static.seankhliao.com/icon-512.png" />
    <link rel="apple-touch-icon" href="https://static.seankhliao.com/icon-512.png" />
    <link rel="shortcut icon" href="https://static.seankhliao.com/favicon.ico" />

    <style nonce="deadbeef1">
      /* prettier-ignore */
      {{ .Style }}
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLVN7D6"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      <h1>
        <a href="/">
          <span>S</span>
          <span>E</span>
          <span>A</span>
          <span>N</span>
          <em>K</em>
          <em>.</em>
          <em>H</em>
          <em>.</em>
          <span>L</span>
          <span>I</span>
          <span>A</span>
          <span>O</span>
        </a>
      </h1>

      {{ .Header }}
    </header>

    <main>
      {{ .Main }}
    </main>

    <footer>
      <a href="https://seankhliao.com/">home</a>
      |
      <a href="https://seankhliao.com/blog/">blog</a>
      |
      <a href="https://seankhliao.com/privacy/">privacy</a>
      &amp;
      <a href="https://seankhliao.com/terms/">terms</a>
      |
      <a href="https://github.com/seankhliao">github</a>
    </footer>

    <script nonce="deadbeef3">
      let ts0 = new Date();
      let dst = "";
      document.querySelectorAll("a").forEach((el) => {
        el.addEventListener("click", (e) => {
          dst = e.target.href.replace(/(^\w+:|^)\/\//, "");
        });
      });
      window.addEventListener("unload", () => {
        ts1 = new Date();
        navigator.sendBeacon(`{{ .URLLogger }}?trigger=beacon&src={{ .URLCanonical }}&dst=${dst}&dur=${ts1 - ts0}ms`);
      });
    </script>
  </body>
</html>
