<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "HeadGohtml" . }}

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TLVN7D6");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TLVN7D6"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      {{ template "LogoHtml" }}
      {{ .Header }}
    </header>

    <main>
      {{ .Main }}
    </main>

    {{ template "FooterHtml" }}

    <script>
      let ts0 = new Date();
      let dst = "";
      document.querySelectorAll("a").forEach((el) => {
        el.addEventListener("click", (e) => {
          dst = e.target.href.replace(/(^\w+:|^)\/\//, "");
        });
      });
      window.addEventListener("unload", () => {
        ts1 = new Date();
        navigator.sendBeacon(`{{ .URLLogger }}?trigger=beacon&src={{ .URLCanonical }}&dst=${dst}&dur=${ts1 - ts0}ms`);
      });
    </script>
  </body>
</html>
