<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "HeadGohtml" . }}
  </head>
  <body>
    <header>
      {{ template "LogoHtml" }}
      {{ .Header }}
    </header>

    <main>
      {{ .Main }}
    </main>

    {{ template "FooterHtml" }}

    <script>
      let ts0 = new Date();
      let dst = "";
      document.querySelectorAll("a").forEach((el) => {
        el.addEventListener("click", (e) => {
          dst = e.target.href.replace(/(^\w+:|^)\/\//, "");
        });
      });
      window.addEventListener("unload", () => {
        ts1 = new Date();
        navigator.sendBeacon(`{{ .URLLogger }}?trigger=beacon&src={{ .URLCanonical }}&dst=${dst}&dur=${ts1 - ts0}ms`);
      });
    </script>

    {{ if .GoogleAnalytics }}
    <script>
      "use strict";
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "{{ .GoogleAnalytics }}");
    </script>
    <script>
      {{ template "GtagJs" }}
    </script>
    {{ end }}
  </body>
</html>
